.textarea{
    border: none;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    resize: none;
    margin-top: 0px;
    border: transparent ;
    margin-right: 5px;
    
}

.textarea:focus { 
    outline: none;
    }